<div class="d-flex justify-content-between align-items-center">
  <div class="welcome-text">
    <span class="d-block fw-semibold fs-5">Hello, {{ user?.userName }}</span>
    <span class="d-block text-secondary fs-6">Have a nice day</span>
  </div>

  <div class="d-flex align-items-center">
    <div class="border-end border-2 border-secondary-subtle fs-5 p-3">
      <i class="bi bi-bell-fill"></i>
    </div>

    <div class="d-flex p-3">
      <img
        src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D"
        class="rounded-5"
        height="50"
        width="50"
        alt="..."
      />
      <div class="user-profile-details ms-3">
        <span class="d-block fw-semibold fs-6">{{ user?.userName }}</span>
        <span class="d-block">{{ user?.role }}</span>
      </div>
      <hr />
    </div>
  </div>
</div>
